MELU_ADDR=:8787
MELU_DATABASE_URL=postgres://melu:melu@localhost:5434/melu?sslmode=disable
MELU_BASE_URL=http://localhost:8787
MELU_GOOGLE_CLIENT_ID=
MELU_GOOGLE_CLIENT_SECRET=
MELU_DEV_LOGIN=1
MELU_DEMO=1
