.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--accent);
  transform: translate(35%, -35%);
  pointer-events: none;
}
