.section {
  padding-top: var(--space-10);
  padding-bottom: var(--space-10);
}

.sm {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}

.md {
  padding-top: var(--space-10);
  padding-bottom: var(--space-10);
}

.lg {
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
}
